In [38]:
import pandas as pd

df = pd.read_excel("attendance.xlsx")
print(df)

   students
0     ankit
1     rahul
2     priya
3  harshita
4     sumit
5    neeraj
6    shivam

In [30]:
students = []
for i,row in df.iterrows():
    students.append(row['students'])
print(students)

['ankit', 'rahul', 'priya', 'harshita', 'sumit', 'neeraj', 'shivam']

In [31]:
name = 'rahul'
if name in students:
    print('True')

True

In [33]:
import datetime
today = datetime.date.today()
today = today.strftime('%d-%m-%Y')

In [34]:
if today in df.columns:
    print('True')

In [39]:
df.insert(loc=len(df.columns),column=today,value='A')

In [40]:
print(df)

   students 23-11-2022
0     ankit          A
1     rahul          A
2     priya          A
3  harshita          A
4     sumit          A
5    neeraj          A
6    shivam          A

In [41]:
for i in df.columns:
    print(type(i))

<class 'str'>
<class 'str'>

In [53]:
df.loc[5].at['23-11-2022']

'A'

In [57]:
idx = df.index[df['students']=='sumit']
index = -1
for i in idx:
    index = i;
df.loc[index].at['23-11-2022'] = 'P'
df

   students 23-11-2022
0     ankit          A
1     rahul          A
2     priya          A
3  harshita          A
4     sumit          P
5    neeraj          A
6    shivam          A